export("msg<-")
export(assert_all_are_imaginary)
export(assert_all_are_in_closed_range)
export(assert_all_are_in_left_open_range)
export(assert_all_are_in_open_range)
export(assert_all_are_in_range)
export(assert_all_are_in_right_open_range)
export(assert_all_are_negative)
export(assert_all_are_non_negative)
export(assert_all_are_non_positive)
export(assert_all_are_not_na)
export(assert_all_are_not_nan)
export(assert_all_are_numeric_strings)
export(assert_all_are_percentages)
export(assert_all_are_positive)
export(assert_all_are_proportions)
export(assert_all_are_real)
export(assert_all_are_valid_variable_names)
export(assert_all_strings_are_missing_or_empty)
export(assert_any_are_imaginary)
export(assert_any_are_in_closed_range)
export(assert_any_are_in_left_open_range)
export(assert_any_are_in_open_range)
export(assert_any_are_in_range)
export(assert_any_are_in_right_open_range)
export(assert_any_are_negative)
export(assert_any_are_non_negative)
export(assert_any_are_non_positive)
export(assert_any_are_not_na)
export(assert_any_are_not_nan)
export(assert_any_are_numeric_strings)
export(assert_any_are_percentages)
export(assert_any_are_positive)
export(assert_any_are_proportions)
export(assert_any_are_real)
export(assert_any_are_valid_variable_names)
export(assert_any_strings_are_missing_or_empty)
export(assert_has_colnames)
export(assert_has_cols)
export(assert_has_dims)
export(assert_has_duplicates)
export(assert_has_names)
export(assert_has_no_duplicates)
export(assert_has_rownames)
export(assert_has_rows)
export(assert_has_terms)
export(assert_is_a_bool)
export(assert_is_a_number)
export(assert_is_a_string)
export(assert_is_an_integer)
export(assert_is_atomic)
export(assert_is_empty)
export(assert_is_empty_model)
export(assert_is_empty_string)
export(assert_is_false)
export(assert_is_non_empty_model)
export(assert_is_non_empty_string)
export(assert_is_recursive)
export(assert_is_scalar)
export(assert_is_true)
export(assert_is_vector)
export(get_name_in_parent)
export(has_colnames)
export(has_cols)
export(has_dimnames)
export(has_dims)
export(has_duplicates)
export(has_names)
export(has_no_duplicates)
export(has_rownames)
export(has_rows)
export(has_terms)
export(is_a_bool)
export(is_a_number)
export(is_a_string)
export(is_an_integer)
export(is_atomic)
export(is_character)
export(is_empty)
export(is_empty_model)
export(is_empty_string)
export(is_false)
export(is_imaginary)
export(is_in_closed_range)
export(is_in_left_open_range)
export(is_in_open_range)
export(is_in_range)
export(is_in_right_open_range)
export(is_integer)
export(is_logical)
export(is_negative)
export(is_non_empty)
export(is_non_empty_model)
export(is_non_empty_string)
export(is_non_negative)
export(is_non_positive)
export(is_not_na)
export(is_not_nan)
export(is_numeric)
export(is_numeric_string)
export(is_percentage)
export(is_positive)
export(is_proportion)
export(is_real)
export(is_recursive)
export(is_scalar)
export(is_string_missing_or_empty)
export(is_string_not_missing_nor_empty)
export(is_true)
export(is_valid_variable_name)
export(is_vector)
export(msg)
export(use_first)
